services:
  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  api-jaeger:
    image: jaegertracing/all-in-one:latest
    container_name: api-jaeger
    ports:
      - "4317:4317"
      - "4318:4318"
      - "16686:16686"

  webapi:
    build:
      context: .
      dockerfile: src/WebApi/Dockerfile
    image: webapi:latest
    depends_on:
      - rabbitmq
      - api-jaeger
    environment:
      RABBITMQ_HOST: rabbitmq
      OTEL_EXPORTER_OTLP_ENDPOINT: http://api-jaeger:4317
    ports:
      - "5000:8080"

  consumer:
    build:
      context: .
      dockerfile: src/Estudos.Microsservices.Consumer/Dockerfile
    image: estudos.microsservices.consumer:latest
    depends_on:
      - rabbitmq
      - mongo
      - api-jaeger
    environment:
      RABBITMQ_HOST: rabbitmq
      OTEL_EXPORTER_OTLP_ENDPOINT: http://api-jaeger:4317
      ConnectionStrings__DbConnection: "mongodb://devroot:devroot@mongo:27017/estudos-microsservicos?authSource=admin"
    stdin_open: true
    tty: true

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: devroot
      MONGO_INITDB_ROOT_PASSWORD: devroot
      MONGO_INITDB_DATABASE: project

  mongo-express:
    image: mongo-express
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_PORT: 27017

      ME_CONFIG_MONGODB_ENABLE_ADMIN: true
      ME_CONFIG_MONGODB_ADMINUSERNAME: devroot
      ME_CONFIG_MONGODB_ADMINPASSWORD: devroot

      ME_CONFIG_BASICAUTH_USERNAME: dev
      ME_CONFIG_BASICAUTH_PASSWORD: dev
    depends_on:
        - mongo
    ports:
      - "8888:8081"

  servidorsql:
    image: mcr.microsoft.com/mssql/server:2019-latest
    container_name: sql_server
    environment:
      SA_PASSWORD: "SeuStrong!Passw0rd"
      ACCEPT_EULA: "S"
    ports:
      - "1433:1433"
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql